.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.myPic {
  aspect-ratio: 1/1;
  border-radius: 50%;
  width: 100%;
  max-width: 250px;
  background-color: bisque;
}

.about {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  font-weight: normal;
  min-width: 20px;
}

.linksDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoParagraph {
  padding: 15px;
  font-size: 20px;
  line-height: 30px;
}

.moreBold {
  font-weight: bolder;
}

.blueBold {
  font-weight: bolder;
  color: #2581ff;
}

.pinkBold {
  font-weight: bolder;
  color: #e91e63;
}
