.specificProject {
  width: 100%;
  text-align: center;
}

h1 {
  color: red;
}

.unorderedList {
  list-style: none;
  text-align: left;
  font-weight: normal;
  display: flex;
  flex-direction: column;
}

.projectImage {
  max-height: 200px;
  max-width: 100%;
}

.descriptions {
  font-weight: normal;
  text-align: left;
}

.secondHeading {
  text-align: left;
}

.anchor {
  text-decoration: underline;
  color: inherit;
}

.type {
  font-weight: normal;
}

.page404 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.folder_img {
  width: 100%;
}

.title404 {
  font-size: 50px;
  font-weight: bold;
}

.text404 {
  font-size: 25px;
  font-weight: bold;
}