.accordion {
    width: 100%;
    word-wrap: break-word;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,.8);
    box-sizing: border-box;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.closeAccordionImg {
    height: 15px;
    width: 15px;
}

.openAccordionImg {
    height: 5px;
    width: 15px;
}

li {
    word-break: break-word;
}

