.accordion {
    width: 100%;
    word-wrap: break-word;
    overflow: hidden;
    box-sizing: border-box;
    border-top: solid rgba(0,0,0,.3);
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    font-size: 1.5rem;
}

.closeAccordionImg {
    height: 15px;
    width: 15px;
}

.openAccordionImg {
    height: 5px;
    width: 15px;
}

li {
    word-break: break-word;
}

.openClose {
    font-weight: bold;
}
